<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .timestamp-container {
      height: 100vh;
    }

    section h4 {
      text-align: center;
    }
  </style>
</head>

<body onload="myFunction()">
  <div class="timestamp-container container d-flex flex-column align-items-center justify-content-around">
    <h3>API Project: Request Header Parser Microservice</h3>
    <section>
      <h4>User Stories (WIP):</h4>
      <ol>
        <li>
          I can get the IP address, preferred languages (from header Accept-Language)
          and system infos (from header User-Agent) for my device.
        </li>
      </ol>
    </section>
    <section>
      <h4>Example Usage:</h4>
      <ol>
        <li><a class="usage" target="_blank" rel="noopener noreferrer">api/whoami</a></li>
      </ol>
    </section>
    <section class="d-flex flex-column justify-content-center align-items-center">
      <h4>Example Output:</h4>
      <p>{"ipaddress":"::1","languages":"en-US,en;q=0.9,es;q=0.8,fil;q=0.7","software":"Mozilla/5.0 (Windows NT 10.0;
        Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"}</p>
    </section>
    <section class="d-flex flex-column justify-content-center align-items-center">
      <h6>
        Github:
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/gpbaculio/fcc-header-parser">
          FCC Request Header Parser Microservice
        </a>
      </h6>
      <h6>by <a target="_blank" rel="noopener noreferrer" href="bit.ly/gpbaculio">Glendon Philipp B.
          Baculio</a> </h6>
    </section>
  </div>
  <script>
    const myFunction = () => {
      Array.from(document.getElementsByClassName("usage")).map(usage => {
        const link = window.location.href.concat(
          usage.innerHTML)
        usage.href = link
        usage.innerHTML = link
      })
    }
  </script>
</body>

</html>